#spacebar{margin-top: 70px;}
.navbar-nav{ margin: 3px 0px 0px 0px;}
.navbar-toggle{margin: 25px 0px 0px 25px;}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{width: 100%;height: 400px}
.row{margin-left: 0px; width: 100%}
.opaco{background-color: #222; margin: 0px 0px 0px 0px; opacity:0.4; filter:alpha(opacity=40);}
.white, .white a {color: #fff;}
.thumbnail img{height: 250px;}
.thumbnail-top{width: 100%; height: 250px;}
/* Mobile and iPad Portrait */
@media only screen and (max-width: 959px) {
    
}

/* Mobile Landscape and Portrait */
@media only screen and (max-width: 767px) {
    .carousel-inner>.item>img, .carousel-inner>.item>a>img{width: 100%;height: 300px}    
}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
    .carousel-inner>.item>img, .carousel-inner>.item>a>img{width: 100%;height: 200px}      
}